.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2850a7;
  padding: 10px;
  width: 100%;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14%;
}
.icon {
  font-weight: 15px;
  font-family: 'Roboto';
}
.search-icon {
  background-color: #64748b;
  padding: 10px;
  margin-right: 5px;
}
.input-icon {
  background-color: #475569;
  padding: 12px;
}
.unordered-list {
  display: flex;
  flex-direction: column;
}
